<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Admin Console Validation" verbose="1" parallel="tests"
	thread-count="3">
	<listeners>
		<listener class-name="io.qameta.allure.testng.AllureTestNg" />
	</listeners>
	<test name="User Login validation" preserve-order="true">
		<classes>
			<class name="com.test.validation.AppTest">
			</class>
		</classes>
	</test>
</suite>