<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Sample Test" verbose="1" parallel="tests"
	thread-count="3">
	<!--  <parameter name="environment" value="MyEnvironment" />
	<parameter name="tagsToRun" value="ALL" />
	 -->
	<test name="Results On Google Search Page" preserve-order="true">
		<classes>
			<class name="MySampleProject.SeleniumProject.AppTest">
			</class>
		</classes>
	</test>
</suite>